.app {
  max-width: 75rem;
  margin: 0 auto;
}
h1 {
  color: #09080e;
}
.post-container {
  display: flex;
  justify-content: space-between;
}
.posts {
  flex-grow: 1;
  margin-right: 3rem;
}
.post {
  margin-bottom: 2rem;
  border-bottom: 1px solid #262aab;
}
label {
  display: block;
  margin-bottom: 0.5rem;
}
.form-input {
  margin-bottom: 1rem;
}